%section.live#live
  .live__screen
    %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
      :allowfullscreen => "",
      :frameborder => "0",
      :height => "360",
      :src => data.year_2023.live.embed_src,
      :title => "YouTube video player", :width => "640"}
  = partial ('partials/live_streamer')
  %p.hero__live-text
    = '当日はキーボード動画でおなじみの'
    = link_to 'Daihuku Keyboard さんのチャンネル', 'https://www.youtube.com/c/daihukukeyboard', target: '_blank'
    = 'からオンライン配信しました。'
