%section.section.twitter#twitter
  %h2.h2
    = link_to 'https://twitter.com/search?q=%23keebkaigi&f=live', target: '_blank' do
      %i.fa-brands.fa-twitter
      = data.global.hashtag
      %i.fa-solid.fa-caret-right.h2__caret
  .twitter__widget
    %a.twitter-timeline{:href => "https://twitter.com/KeebKaigi?ref_src=twsrc%5Etfw", :height => '600px', "data-theme" => "dark"} Tweets by KeebKaigi
    %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
