.call-for-lt
  = link_to data.year_2024.general.call_for_lt.url,
    class: 'call-for-lt__link',
    target: '_blank' do
    .call-for-lt__title
      %i.fa-solid.fa-angle-right.call-for-lt__icon
      %span.call-for-lt__title-message= data.year_2024.general.call_for_lt.title
    %p.call-for-lt__description= data.year_2024.general.call_for_lt.description
