.twitter#twitter
  .twitter__widget
    %a.twitter-timeline{:href => "https://twitter.com/KeebKaigi?ref_src=twsrc%5Etfw", :height => '600px'} Tweets by KeebKaigi
    %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
