// .hero

$keeb-width-ratio: 3.9vw
$keeb-width: $keeb-width-ratio * 9 //9
$keeb-height: $keeb-width-ratio * 5

.hero
  +shinjiko-gradient
  position: relative
  z-index: 1
  width: 100vw
  height: auto
  overflow: hidden

  &:before
    content: ''
    width: 45vw
    height: 50vh
    position: absolute
    bottom: -1px
    left: -100px
    background-image: url('/images/2024/hero__bg--left.svg')
    background-repeat: repeat-x
    background-position: right bottom
    background-size: 650px

  &:after
    content: ''
    width: 45vw
    height: 50vh
    position: absolute
    bottom: 0
    right: -50px
    background-image: url('/images/2024/hero__bg--right.svg')
    background-repeat: repeat-x
    background-position: left bottom
    background-size: 650px

.hero__container
  position: relative
  top: 5%
  left: 0
  right: 0
  margin: auto
  width: 96vw
  // transform: translateX(-1vw)
  padding-bottom: 5rem

.hero__tagline
  font-size: 0.8rem
  font-weight: 400
  letter-spacing: 0.3rem
  color: white
  margin: 0
  padding: 3rem 0
  background-image: url('/images/2024/hero__bg--top-left.svg'), url('/images/2024/hero__bg--top-right.svg')
  background-size: 400px
  background-repeat: no-repeat
  background-position: 0 top, 100% top

.hero__logo
  position: relative
  top: 0
  left: 0
  right: 0
  height: $keeb-height
  margin: -1rem auto 2rem
  display: flex
  justify-content: center

.hero__logo-left
  width: $keeb-width
  height: $keeb-height
  flex: 0 0 $keeb-width
  background-image: url('/images/2024/hero__logo-left.svg')
  background-size: $keeb-width $keeb-height
  background-repeat: no-repeat
  background-position: left top

.hero__logo-center
  height: $keeb-height
  flex: 100
  background-image: url('/images/2024/hero__logo-center.svg')
  background-repeat: no-repeat
  background-size: auto $keeb-height
  background-position: center top

.hero__logo-right
  width: $keeb-width
  height: $keeb-height
  flex: 0 0 $keeb-width
  background-image: url('/images/2024/hero__logo-right.svg')
  background-size: $keeb-width $keeb-height
  background-repeat: no-repeat
  background-position: right top

.hero__text
  opacity: 0

.hero__content
  color: white
  a
    color: white
    &:hover
      color: white
      text-shadow: 0px 0px 10px white

.hero__logo-sub
  margin: -4.5rem auto 1rem
  display: flex
  text-align: center
  color: white
  justify-content: center
  align-content: center
  transform: scale(0.9, 1)
  line-height: 0.8
  position: relative
  left: 9px

.hero__year
  font-size: 2.2rem
  letter-spacing: 0.3em
  font-family: 'Saira Stencil One', sans-serif
  padding-right: 0.8rem
  margin-right: 1.4rem
  border-right: 1px solid white

.hero__city
  font-size: 1.9rem
  letter-spacing: 0.4em
  font-family: 'Zen Antique Soft', sans-serif

.hero__datetime
  display: flex
  align-items: baseline
  font-weight: bold
  justify-content: center
  margin-top: 2rem

  +mq
    flex-direction: column
    margin-bottom: 0.5rem

.hero__date
  font-size: 1.8rem
  margin-right: 1rem

  +mq
    align-self: center

.hero__weekday
  margin-left: -1rem

.hero__time
  margin-left: 1rem
  font-size: 1.8rem
  +mq
    align-self: center

.hero__rubykaigi
  font-size: 0.9rem

.hero__venue
  margin-top: 2rem
  color: black

.hero__venue-icon
  margin-right: 0.4rem
  transform: translateY(-1px)

.hero__venue-link
  font-family: 'Zen Antique Soft', serif
  font-size: 1.8rem
  font-weight: 500
  transform: scale(0.9, 1)
  letter-spacing: -0.05em

.hero__venue-google-map
  display: block
  font-family: 'Zen Kaku Gothic New', sans-serif
  font-size: 0.8rem
  margin-top: 0.5rem
