// Variables

$bg-color: #FFF
$link-color: #8181b5
$hover-color: #ce7c75
$text-color: #000

$content-width: 1200px

// あとで消すかも

$mq-width: 700px
$footer-height: 250px
$sponsor-logo-width: 20rem
$footer-height: 240px
$enter-width: 175px
$enter-height: 75px
$timetable-width: 900px
$avatar-small: 42px
$avatar-sema: 90px
$avatar-large: 160px
